In [9]:
# Dependencies
import requests
import json
import gmaps
import pandas as pd
# from config import api_key gkey
from pprint import pprint

In [10]:
# read csv file
file="./data/charity_all.csv"
cities_data_df=pd.read_csv(file)
cities_data_df.count()

charity_id                             8190
accountability_score                   8190
administrative_expenses                8190
charity_name                           8187
charity_url                            8190
city                                   8189
cn_advisory                               6
compensation_leader_compensation       7290
compensation_leader_expense_percent    7290
compensation_leader_title              7827
excess_or_deficit_for_year             8190
financial_score                        8190
fundraising_expenses                   8190
net_assets                             8190
organization_type                      8190
other_revenue                          8190
overall_score                          8190
payments_to_affiliates                 8190
program_expenses                       8190
state_abbr                             8190
total_contributions                    8190
lat                                    8101
lng                                    8101
dtype: int64

In [12]:
city_df=cities_data_df[["charity_id","city","state_abbr"]]
city_df

      charity_id            city state_abbr
0              0       Milwaukee         WI
1              1            Hilo         HI
2              2        New York         NY
3              3        Brooklyn         NY
4              4        Temecula         CA
...          ...             ...        ...
8185        8185     Los Angeles         CA
8186        8186        La Jolla         CA
8187        8187         Raleigh         NC
8188        8188        La Jolla         CA
8189        8189  Kennett Square         PA

[8190 rows x 3 columns]

In [14]:
gkey="AIzaSyCU_0c7c_pE9WZSxZ-yAri0MAxfVBNSg6s"

#get lat lng for cities
city_df['Lat']=""
city_df["Lng"]=""
# use iterrows to iterate through pandas dataframe
for index, row in city_df.iterrows():
    
    target_city=row["city"]
    region=row["state_abbr"]
    
    # target url
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&region={1}&key={2}').format(target_city,region, gkey)
    geo_data = requests.get(target_url).json()
    results = geo_data['results']
    
    # Extract latitude and longitude
    try:
       
        city_df.loc[index, 'Lat']= results[0]["geometry"]["location"]["lat"]
        city_df.loc[index, 'Lng']= results[0]["geometry"]["location"]["lng"]
        
    except KeyError:
        
        print("Missing field/result... skipping.")

<ipython-input-14-0d7a8913af79>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_df['Lat']=""
<ipython-input-14-0d7a8913af79>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_df["Lng"]=""
c:\python38\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

IndexError: list index out of range

In [ ]:
city_df

In [ ]:
ideal_locations = cities_df[["Lat", "Lng"]].astype(float)