In [54]:
# Dependencies
import requests
import json
import gmaps
import pandas as pd
from config import api_key gkey
from pprint import pprint

In [92]:
# read csv file
file="./data/charity_data.csv"
cities_data_df=pd.read_csv(file)
cities_data_df.count()

Unnamed: 0                             8190
accountability_score                   8190
administrative_expenses                8190
charity_name                           8187
charity_url                            8190
city                                   8189
cn_advisory                               6
compensation_leader_compensation       7290
compensation_leader_expense_percent    7290
compensation_leader_title              7827
excess_or_deficit_for_year             8190
financial_score                        8190
fundraising_expenses                   8190
net_assets                             8190
organization_type                      8190
other_revenue                          8190
overall_score                          8190
payments_to_affiliates                 8190
program_expenses                       8190
state                                  8190
total_contributions                    8190
dtype: int64

In [84]:
city_df=cities_data_df[["city","state"]]
city_df.head(13)

              city state
0        Milwaukee    WI
1             Hilo    HI
2         New York    NY
3         Brooklyn    NY
4         Temecula    CA
5    San Francisco    CA
6   Stone Mountain    GA
7     Gaithersburg    MD
8          Atlanta    GA
9         Bellevue    WA
10        Bethesda    MD
11         Chicago    IL
12     Glens Falls    NY

In [ ]:
#get lat lng for cities
city_df['Lat']=""
city_df["Lng"]=""
# use iterrows to iterate through pandas dataframe
for index, row in city_df.iterrows():
    
    target_city=row["city"]
    region=row["state"]
    
    # target url
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&region={1}&key={2}').format(target_city,region, gkey)
    geo_data = requests.get(target_url).json()
    results = geo_data['results']
    # Extract latitude and longitude
    try:
       
        city_df.loc[index, 'Lat']= results[0]["geometry"]["location"]["lat"]
        city_df.loc[index, 'Lng']= results[0]["geometry"]["location"]["lng"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [90]:
city_df

                city state      Lat      Lng
0          Milwaukee    WI  43.0389 -87.9065
1               Hilo    HI  19.7241 -155.087
2           New York    NY  40.7128  -74.006
3           Brooklyn    NY  40.6782 -73.9442
4           Temecula    CA  33.4936 -117.148
...              ...   ...      ...      ...
8185     Los Angeles    CA  34.0522 -118.244
8186        La Jolla    CA  32.8328 -117.271
8187         Raleigh    NC  35.7796 -78.6382
8188        La Jolla    CA  32.8328 -117.271
8189  Kennett Square    PA  39.8468 -75.7116

[8190 rows x 4 columns]

In [88]:
city_df.to_csv("./data/city_coord.csv")